./.idea
./venv
./.venv
poetry.lock
./.coverage
__pycache__/
.vscode/settings.json
src/__pycache__/**
tests/__pycache__/**
tests/__pycache__/infrastructure.cpython-313.pyc
.env
tests/__pycache__/**
.vscode/settings.json
venv/
.venv/
./venv/
.env
*.pyc
.coverage
srclocal_storage
models.db
run-env/
demo-model.zip
node_modules/
**/node_modules/
